:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161b22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  color: #2f81f7;
  line-height: 1.1;
  margin: 24px 0 16px 0;
}

h4 {
  margin-bottom: 8px;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

#locale {
  padding-bottom: 16px;
}

#locale span {
  padding-right: 8px;
}

#tabs {
  margin-bottom: 16px;
}

#tabs h3 {
  display: inline;
  padding: 0 24px 12px 24px;
  cursor: pointer;
}

#tabs h3.selected {
  border-bottom: 2px solid #f78166;
}

#output1,
#output2 {
  align-self: center;
}

.card {
  padding: 2em;
  text-align: left;
}

.read-the-docs {
  color: #888;
}

.failure {
  color: #ff7b72;
  padding-right: 8px;
}

.success {
  color: #7ee787;
  padding-right: 8px;
}

.jota {
  /* border-left: 1px solid #a5d6ff; */
  color: #a5d6ff;
  /* padding-left: 16px; */
}

.bcv {
  color: #d2a8ff;
  /* padding-left: 16px; */
}

.stat {
  margin-top: auto;
  margin-bottom: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  /* adjust row height based on content */
}

.grid-container>div {
  padding-right: 16px;
}

.grid-container>.span {
  grid-column: span 3 / auto;
}

#compare-output {
  grid-column: span 2;
  text-align: center;
  outline: 1px solid #30363d;
  margin-top: 8px;
  padding: 4px 0 4px 0;
  display: none;
}

.grid-container>.header {
  font-weight: bold;
}

.grid-container>.header.jota {
  color: #a5d6ff;
}

.grid-container>.header.bcv {
  color: #d2a8ff;
}

input {
  /* padding: 0.4em 0.8em; */
  width: 90%;
  font-size: 14px;
  background-color: #0d1117;
  border-radius: 6px;
  border: 1px solid #30363d;
  outline-width: 0;
  padding: 5px 12px;
  line-height: 20px
}

select {
  appearance: none;
  background-color: #0d1117;
  border-radius: 6px;
  border: 1px solid #30363d;
  outline-width: 0;
  padding: 5px 12px;
  line-height: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
